.modal {
  transition: opacity 0.25s ease;
  z-index: 10050;
  background: rgba(0, 0, 0, 0.44) 0% 0% no-repeat padding-box;
}

/* ///for mobile */
.mobile_modal {
  position: fixed;
  bottom: -32px;
  width: 100%;
  border-radius: 30px 30px 0 0;
  transition: transform 0.5s ease-in-out;
  transform: translateY(100%);
}
.animation {
  transform: translateY(0%);
}

.background_transparent {
  background: transparent;
  height: 0px;
}
